#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf target Cargo.lock Documentation/_build

override_dh_auto_build:
	dh_auto_build
	cargo build --release
	for builder in html man; do \
		python3 -m sphinx -b $$builder -n Documentation Documentation/_build/$$builder; \
	done
